@font-face {
  font-family: "iconfont"; /* Project id 4697347 */
  src: url('iconfont.woff2?t=1730878014468') format('woff2'),
       url('iconfont.woff?t=1730878014468') format('woff'),
       url('iconfont.ttf?t=1730878014468') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zaixianrenshu:before {
  content: "\e612";
}

.icon-yonghufangwenliang:before {
  content: "\e991";
}

.icon-tuandui:before {
  content: "\e600";
}

.icon-erqi:before {
  content: "\e6c2";
}

