.ant-layout-header {
  padding: 0 !important;
}

.nickName {
  color: #ffffff;
  font-size: 24px;
}

.ant-layout-header {
  background: var(--bg-color) !important;
  border-bottom: var(--border-color) !important;
}
